*   *   *   *   * /usr/bin/flock -n /tmp/sniper_moonmoon.lck  /usr/app/sniper.py  moonmoon > /usr/app/Videos/backup.log 2>&1
*/5 *   *   *   * /usr/bin/flock -n /tmp/encoder_moonmoon.lck /usr/app/encoder.py moonmoon > /usr/app/Videos/backup.log 2>&1
*   *   *   *   * /usr/bin/flock -n /tmp/sniper_moonmoon.lck  /usr/app/sniper.py  ubrgbr > /usr/app/Videos/backup.log 2>&1
*/5 *   *   *   * /usr/bin/flock -n /tmp/encoder_moonmoon.lck /usr/app/encoder.py ubrgbr > /usr/app/Videos/backup.log 2>&1
